.pokeball {
  width: inherit;
  height: inherit;
  background-color: blue;
}

img:not(.pokePics):hover {
  transform: scale(1.1);
  background-color: darkblue;
}

.cardsRow {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  box-shadow: 5px 3px 10px #69e;
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
}

p {
  margin: 0;
}

.scoreboard {
  color: white;
  font-weight: 700;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0px;
  border-radius: 5px;
  box-shadow: 5px 3px 10px #69e;
  background-color: #69e;
  text-align: center;
}

.first, .second {
  background-color: red;
}

.matched {
  background-color: white;
}

.col-2 {
  padding: 3px;
}

@keyframes show {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes hide {
    from {opacity: 1;}
    to {opacity: 0;}
}
